@using Microsoft.AspNetCore.Identity
@using HealthyBMI.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:#514644">Hello @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:#514644" >Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register" style="color:#514644">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" style="color:#514644">Login</a></li>
    </ul>
}
