@page
@model HealthyBMI.Pages.BlogsAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.finalbmi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.finalbmi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Blog.BlogID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
