@page
@model HealthyBMI.Pages.BlogsAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.finalbmi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.finalbmi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Blog.BlogID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
