@page
@model HealthyBMI.Pages.BlogsAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Blog.BlogID" />
            <div class="form-group">
                <label asp-for="Blog.weight" class="control-label"></label>
                <input asp-for="Blog.weight" class="form-control" />
                <span asp-validation-for="Blog.weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.height" class="control-label"></label>
                <input asp-for="Blog.height" class="form-control" />
                <span asp-validation-for="Blog.height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.finalbmi" class="control-label"></label>
                <input asp-for="Blog.finalbmi" class="form-control" />
                <span asp-validation-for="Blog.finalbmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.ReportDate" class="control-label"></label>
                <input asp-for="Blog.ReportDate" class="form-control" />
                <span asp-validation-for="Blog.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.NewsUserId" class="control-label"></label>
                <select asp-for="Blog.NewsUserId" class="form-control" asp-items="ViewBag.NewsUserId"></select>
                <span asp-validation-for="Blog.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
