@page
@model HealthyBMI.Pages.BlogsAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].finalbmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].postUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.finalbmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BlogID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BlogID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BlogID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
