﻿@page
@model Blog3Model
@{
}
<div class="row">
	<center><img src="~/images/slide03.png" style="width:1200px;"></center>
</div>
<br //>
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การลดน้ำหนักที่ดีและได้ผลคือการลดที่ปริมาณไขมันสะสมในร่างกาย โดยมีวิธีการหลักๆอยู่ 2 วิธี คือ ควบคุมอาหารและการออกกำลังกาย โดยสองหลักการนี้จะทำงานกันเป็นทีม การควบคุมอาหารจะช่วยให้เราได้รับพลังงานและสารอาหารอย่างพอเหมาะ และการออกกำลังกายจะช่วยให้ร่างกายแข็งแรง เสริมสร้างกล้ามเนื้อ ช่วยเพิ่มการเผาพลาญพลังงาน และช่วยในการควบคุมน้ำหนักจึงขาดสิ่งใดสิ่งนึงไปไม่ได้
	 <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แต่ถ้าหากเรามีเวลาจำกัดไม่สามารถจัดสรรเวลาให้ไปออกกำลังกายได้บ่อยๆ ทางออกคือการควบคุมอาหารอย่างเคร่งครัด แต่ใช่ว่าจะไม่ออกกำลังกายเลย เพราะอย่างที่กล่าวไป การจะได้รับผลดีที่สุดก็คือ ลดน้ำหนักลงได้ และไม่กลับมาอ้วนอีก ซึ่งต้องอาศัยการปฏิบัติทั้งสองอย่างคู่กัน เมื่อเราควบคุมอาหารดีแล้ว เราก็ไม่จะเป็นต้องหักโหมออกกำลังกายแบบบ้าคลั่ง แถมยังมีแรงเหลือไปออกกำลังกายได้อย่างชิลๆ ไม่ทำลายสุขภาพและมีรูปร่างสมส่วนไม่เหี่ยวไม่ย้วยอีกด้วย
</h3>
<br />
<h2 style="color:#2E8B57;"><b>
	ควบคุมไม่ใช่การอดอาหาร </b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หลายคนได้ยินเรื่องการควบคุมอาหารแล้วพลันนึกไปว่า จะต้องอดนั่นอดนี่ ต้องงดมื้อเย็น ต้องกินน้อยๆ ซึ่งในความเป็นจริง หลักการในการควบคุมอาหารที่ถูกต้องคือ ควบคุมปริมาณและสารให้เหมาะสมกับลักษณะการใช้งาน กิจกรรมต่างๆในแต่ละวัน ชนิดการออกกำลังกาย โดยคำนวนจากค่า BMR และ TDEE หรือใช้การคำนวนสารอาหารทั้งคาร์โบไฮเดรต โปรตีน และไขมัน ตามน้ำหนักตัว เรียกง่ายๆว่าใช้เท่าไหร่ ทานเท่านั้น เพื่อไม่ให้พลังงานส่วนเกินเหลือเก็บสะสมเป็นไขมัน และควรเลือกด้วยว่าจะทานอาหารชนิดใดบ้าง เพื่อให้ได้รับสารอาหารที่มีประโยชน์ ใช่ว่าจะคุมแต่แคลอรี่อย่างเดียว แต่ต้องคำนึงถึงทั้งสองส่วนที่กล่าวไปด้วย ซึ่งเมื่อรู้หลักการแล้ว เราไม่จะเป็นต้องอดหรืองดอาหารเลย เรียกได้ว่า ยิ่งกินยิ่งผอมเลยทีเดียว โดยเทคนิคในการเลือกอาหาร 5 ข้อหลักๆดังนี้
</h3>
<br />
<h2 style="color:#2E8B57;"><b>
	กฏข้อที่ 1 หลีกเลี่ยงอาหารขาวๆ </b>
</h2>
<br />
<div class="row">
	<center><img src="~/images/rule1.png" style="width:900px;"></center>
</div>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อาหารขาวๆในที่นี้โดยมากจะเป็นอาหารประเภทแป้งและน้ำตาล หรืออาหารกลุ่มคาร์โบไฮเดรตเป็นหลัก ซึ่งอาหารกลุ่มนี้เป็นแหล่งพลังงานต้นในการดำรงค์ชีวิตและการทำกิจกรรมต่างๆ จะให้พลังงานสูง และทำให้เกิดกระบวนการสะสมไขมันได้ถ้าหากทานมากเกินกว่าที่ร่างกายต้องใช้ แต่ไม่ใช่ว่าจะไม่ทานเลย เนื่องจากคนที่งดอาหารประเภทแป้งไปเลย หากออกกำลังกายหรือใช้แรงเยอะๆก็อาจทำให้เกิดการสูญเสียกล้ามเนื้อได้เช่นกัน เมื่อกล้ามเนื้อน้อย ก็เผาผลาญน้อย เกิดโยโย่เอฟเฟคได้ง่าย เราควรเลือกทานคาร์โบไฮเดรตกลุ่มเชิงซ้อนเป็นหลัก อย่างข้าวซ้อมมือ มันเทศ ธัญพืช และถั่วต่างๆ และหลีกเลี่ยงคาร์โบไฮเดรตเชิงเดี่ยว ที่ประกอบด้วย แป้งสีขาวๆ อย่าง ข้าวขาว ขนมปังขาว น้ำตาลทรายขาว เส้นพาสต้า มันฝรั่ง นอกจากนี้ยังมีอาหารสีขาวในกลุ่มของโปรตีน อย่าง ซีส และ เนย ก็ควรหลีกเลี่ยงเช่นกัน
	 <br /><br />
	 อาหารสีขาวที่ดีๆมีประโยชน์ก็มีมากมาย และแนะนำให้รับประทานในช่วงการลดน้ำหนักคือ กลุ่มผักอย่าง ดอกกะหล่ำปลี หัวไชเท้า กะหล่ำปลี กลุ่มเนื้อสัตว์ได้แก่ เนื้อปลา ไข่ขาว อก,สันในไก่ และ นม เป็นต้น
</h3>
<br />
<h2 style="color:#2E8B57;"><b>
	กฏข้อที่ 2 จัดสัดส่วน แบ่งมื้อเล็ก ทานบ่อยๆ </b>
</h2>
<br />
<div class="row">
	<center><img src="~/images/rule2.png" style="width:900px;"></center>
</div>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เทคนิคอีกอย่างของการลดน้ำหนักคือ การเฉลี่ยพลังงานที่ได้จากอาหารออกเป็นครั้งย่อยๆ ข้อดีของการแบ่งอาหารออกเป็นมื้อเล็กๆย่อยๆ จะช่วยให้สามารถควบคุมระดับน้ำตาลให้อยู่ในระดับที่เหมาะสม และเป็นการช่วยกระตุ้นการเผาผลาญให้ร่างกายอีกด้วย โดยมากจะแนะนำให้แบ่งมื้ออาหารออกเป็น 5-6 มื้อ สำหรับคนที่ไม่มีเวลาอาจย่อยเป็น 4 มื้อก็ได้ตามความเหมาะสมกับตารางชีวิตขอตนเอง โดยเฉลี่ยความห่างของแต่ละมื้อประมาณ 3 ชม และจัดสัดส่วนของอาหารโดยให้มื้อหลักอย่าง มื้อเช้า มื้อเที่ยง และมื้อเย็นประกอบด้วย อาหารประเภทข้าวแป้ง 1 ส่วน ผักใบเขียว 2 ส่วน และเนื้อสัตว์ 1 ส่วน สำหรับมื้อที่เหลือเป็นของว่างระหว่างมื้อโดยให้ทานอาหารกลุ่มที่เป็นคาร์โบไฮเดรตเชิงซ้อนกับโปรตีน
	 <br /><br />
	 มื้ออาหารที่ต้องให้ความสำคัญเป็นพิเศษคือ มื้อเช้าและมื้อเย็น(หลังออกกำลังกาย) สำหรับมื้อเช้าที่ต้องให้ความสำคัญเป็นพิเศษเนื่องจากเป็นมื้ออาหารมื้อแรกของวัน ควรทานให้ครบหมู่เพื่อให้ได้รับสารอาหารที่ดีมีประโยชน์และมีพลังงานเพียงพอต่อความต้องการ เพื่อใช้เป็นพลังงานในระหว่างวัน ส่วนมื้อเย็นที่เป็นมื้อหลังการออกกำลังกาย จะเป็นสารอาหารที่ชดเชยและช่วยซ่อมแซมร่างกายที่ถูกใช้งานไปในระหว่างวันและในการออกกำลังกาย ซึ่งมื้อหลังออกกำลังกายนี้อาจลดในส่วนของข้าว แป้งลง แต่เน้นในส่วนของ ผัก และโปรตีนเป็นหลัก เพื่อไม่ให้เหลือเป็นพลังงานในช่วงที่ร่างกายลดการเผาผลาญลงขณะที่นอนหลับนั่นเอง
</h3>
<br />
<h2 style="color:#2E8B57;"><b>
	กฏข้อที่ 3 งดดื่มเครื่องดื่มที่ให้พลังงาน</b>
</h2>
<br />
<div class="row">
	<center><img src="~/images/rule3.png" style="width:900px;"></center>
</div>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เครื่องดื่มที่ให้พลังงานส่วนใหญ่จะมีส่วนผสมของน้ำตาลอยู่ ไม่ว่าจะเป็นน้ำตาลที่เติมเพื่อแต่งรสชาติ หรือน้ำตาลที่มีอยู่ตามธรรมชาติ หรือแม้แต่เครื่องดื่มที่ใช้สารให้ความหวานแทนน้ำตาล เพราะเครื่องดื่มประเภท 0 แคลอรี่ จะทำให้ร่างกายเคยชินกับความหวาน และอาจทำให้ร่างกายลดการดึงพลังงานจากไขมันมาใช้ได้ ดั้งนั้นเพื่อให้ลดน้ำหนักได้ง่ายขึ้น ตัวเลือกที่ดีที่สุดคือ น้ำเปล่า ส่วนเครื่องดื่มที่ควรงดได้แก่ เครื่องดื่มหวานๆ น้ำผลไม้ น้ำอัดลม เครื่องดื่มปั่น และ เครื่องดื่มพวกผสมเกลือแร่
</h3>
<br />
<h2 style="color:#2E8B57;"><b>
	กฏข้อที่ 4 น้ำเปล่าตัวช่วยผอม</b>
</h2>
<br />
<div class="row">
	<center><img src="~/images/rule4.png" style="width:900px;"></center>
</div>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;น้ำเป็นสิ่งสำคัญมากในการดำรงค์ชีวิต ความเชื่อที่ว่าดื่มน้ำมากๆแล้วจะทำให้บวมน้ำเป็นความเชื่อที่ผิด ไม่เป็นความจริง ในทางกลับกันการดื่มน้ำมากๆจะทำให้ร่างกายได้น้ำอย่างเพียงพอ และลดการกักเก็บน้ำไว้ในร่างกาย ยิ่งในช่วงของการลดน้ำหนักควรดื่มน้ำมากๆ เพราะน้ำจะช่วยให้ร่างกายสดชื่น ทำให้รู้สึกอิ่ม และยังช่วยลดความอยากทานของหวานๆได้ นอกจากนี้การดื่มน้ำเย็นๆใส่น้ำแข็ง 1 แก้วจะทำให้การเผาผลาญพลังานเพิ่มขึ้น 1 kcal เนื่องจากร่างกายต้องปรับอุณหภูมิให้สูงขึ้นเพื่อให้ร่างกายอบอุ่น หรือ แม้แต่เทคนิคการดื่มน้ำแก้วใหญ่ๆ 2 แก้วก่อนมื้ออาหาร พร้อมควบคุมพลังงานรวมของอาหารในแต่ละวัน จะช่วยการลดน้ำหนักทำได้ง่ายขึ้นและทำให้ระบบการย่อยอาหารทำงานได้ดีขึ้นอีกด้วย
</h3>
<br/ >
<h2 style="color:#2E8B57;"><b>
	กฏข้อที่ 5 เหนื่อยทั้งสัปดาห์ มีมื้อปล่อยผีซักมื้อจะเป็นไร</b>
</h2>
<br />
<div class="row">
	<center><img src="~/images/rule5.png" style="width:900px;"></center>
</div>
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ร่างกายต้องการการพักผ่อน การทำอะไรเดิมๆซ้ำๆจะทำให้เกิดความเครียด การควบคุมอาหารก็เช่นกัน เมื่อตลอดสัปดาห์เคร่งเครียดกับการควบคุมพลังงานและสารอาหาร ควรหาเวลาให้ร่างกายและจิตใจได้พัก ทานสิ่งที่อยากทาน ในปริมาณที่พอเหมาะ กับมื้อ Cheat meal ซักมื้อ นอกจากช่วยลดความเครียดแล้ว มื้อปล่อยผีนี้ยังช่วยกระตุ้นการเผาผลาญพลังงานที่ลดต่ำลงจากการไดเอตให้เพิ่มขึ้น และแถมเป็นกำลังใจให้มีแรงตั้งใจปฏิบัติการไดเอตอย่างเคร่งครัดในสัปดาห์ต่อๆไปได้ แต่จำไว้เสมอว่า Cheat meal แต่ละครั้งก็มีผลกระทบกับการลดน้ำหนักในสัปดาห์ต่อๆไปเช่นกัน จึงควรกะปริมาณให้พอเหมาะ และควบคุมให้ไม่เกิน 2 มื้อต่อสัปดาห์
</h3>
<br />
<h3 style="color:#7B68EE;">
<center>*เทคนิคยิ่งกินยิ่งผอมนี้จะได้ผลมากถ้าทำร่วมกับการออกกำลังกาย และการพักผ่อนที่เพียงพอ* </center>
</h3>
<br />
<br />
<p style="color:#999999;"> เครดิตเนื้อหา: lovefitt, gymjunkies.com </p>	 