﻿@page
@model Blog2Model
@{
}
<div class="row">
	<center><img src="~/images/slide02.png" style="width:1200px;"></center>
</div>
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อย่างที่ทราบกันดี อาหารทุกชนิดมีคุณค่าทางอาหารแตกต่างกันไป ซึ่งความจริงแล้ว อาหารทุกชนิดมีประโยชน์ต่อร่างกายทั้งสิ้น หากเราเลือกรับประทานให้เหมาะสมกับความต้องการของ เพศ วัย สุขภาพ สภาพร่างกาย และกิจกรรมของแต่ละคน ดั้งนั้นการที่เราจะทราบได้ถึงคุณค่าทางอาหารของอาหารเแต่ละชนิดได้นั้น การอ่านฉลากโภชนาการ จะช่วยให้เราทราบถึงข้อมูลสารอาหารต่างๆที่อยู่ในผลิตภัณฑ์อาหารชนิดนั้น ซึ่งถ้าหากเรามีความรู้และเข้าใจในการอ่านข้อมูลบนฉลากโภชนาการแล้ว ก็จะสามารถช่วยให้เราเลือกรับประทานอาการได้สอดคล้องกับความต้องการของแต่ละบุคคล ทั้งปริมาณพลังงาน และสารอาหารที่เป็นประโยชน์ อย่างโปรตีน คาร์โบไฮเดรตเพื่อใช้ในการทำงานของร่างกาย และยังสามารถช่วย ให้เราทราบถึงพลังงานส่วนเกินอื่นๆอย่าง ไขมัน และ น้ำตาล ที่แฝงมากับผลิตภัณฑ์อาหารอีกด้วย ซึ่งข้อมูลเหล่านี้นี่เองที่จะทำให้เราสามารถจัดกิจกรรมการเคลื่อนไหว และออกกำลังกายได้สอดคล้อง เช่นการออกกำลังกาย เพื่อรักษาสมดุลของปริมาณพลังงานทั้งรับเข้าและใช้ออก ทำให้เราสามารถรักษาน้ำหนักตัวให้คงที่ และมีสุขภาพดีไร้โรคภัยอีกด้วย
</h3>
<br />
<h2 style="color:#FF4500;"><b>
	ผลเสียหากเราไม่ใส่ใจในการอ่านฉลากโภชนาการ </b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การที่เราละเลยการอ่านฉลากโภชนาการจะทำให้เราอาจได้รับพลังงานและสารอาหารเกินความจำเป็น อาจจะทำให้ทานมากเกินไป และเมื่อเรารับประทานอาหารมากเกินความต้องการของร่างกายเป็นประจำแล้ว จะทำให้น้ำหนักของเราเพิ่มขึ้นอย่างต่อเนื่อง นั้นหมายถึง เป็นการเพิ่มโอกาสการเกิดโรคไม่ติดต่อเรื้อรัง(NCD) ซึ่งได้แก่ โรคไขมันในเลือดสูง โรคหลอดเลือดหัวใจ โรคหัวใจ โรคอ้วน โรคข้อต่ออักเสบ ภาวะหยุดหายใจขณะนอนหลับ และโรคมะเร็งบางชนิด ซึ่งเราก็สามารถประเมินภาวะโภชนาการเบื้องต้นด้วยตนเอง ด้วย 2 วิธีที่ง่ายๆ ได้แก่
	 <br /><br><li>การหาค่าดัชนีมวลกาย (BMI)</li></br>
	 <li>การวัดเส้นรอบเอว โดยรอบเอวขนาดเป็นเซนติเมตรจะต้องไม่เกินค่า ความสูงของตนเอง หารด้วย 2(BMI)</li>
</h3>
<br />
<h2 style="color:#FF4500;"><b>
	ฉลากโภชนาการ </b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในปัจจุบัน ฉลากโภชนาการแบบย่อ และแบบเต็ม มีรายละเอียดมาก ทำให้ผู้บริโภคอ่านเข้าใจยาก และมีขนาดเล็ก ข้อมูลไม่ชัดเจน ดังนั้น สำนักงานคณะกรรมการอาหารและยา กระทรวงสาธารณสุข จึงมีแนวทางในการแก้ไขปรับปรุงฉลากโภชนาการให้เข้าใจง่าย โดยปรับเปลี่ยนให้อยู่ในรูปแบบของฉลากโภชนาการแบบ จีดีเอ บนฉลากนอกกรอบข้อมูลโภชนาการ กำหนดให้อาหารสำเร็จรูปที่พร้อมบริโภคทันทีบางชนิด ต้องแสดงฉลากโภชนาการแบบจีดีเอ โดยนำค่าพลังงาน น้ำตาล ไขมัน และโซเดียม มาแสดงที่ฉลากด้านหน้าบรรจุภัณฑ์ เพื่อให้ผู้บริโภคเห็นได้ชัดเจน และอ่านง่าย ตามรูปแบบที่ประกาศกระทรวงสาธารณสุข เรื่อง การแสดงฉลากของอาหารสำเร็จรูปที่พร้อมบริโภคทันทีบางชนิด (ฉบับที่ 2) ซึ่งประกาศฉบับนี้ มีผลบังคับใช้ตั้งแต่วันที่ 24 สิงหาคม พ.ศ. 2554 หากไม่ปฏิบัติตามประกาศ มีโทษปรับ 30,000 บาท และอาหารนอกเหนือจาก 5 ชนิดนี้ที่มีความประสงค์จะแสดงฉลากโภชนาการแบบจีดีเอ ต้องปฏิบัติตามรูปแบบประกาศฉบับนี้เท่านั้น
</h3>
<br />
<div class="row">
	<center><img src="~/images/gda1.png" style="width:900px;"></center>
</div>	
<br />
<h2 style="color:#FF4500;"><b>
	ฉลากโภชนาการ แบบ GDA คืออะไร</b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ฉลาก GDA (Guideline Daily Amount) หรือฉลากหวาน มัน เค็ม เป็นฉลากนอกกรอบขนาดเล็กที่จะแสดงข้อมูลโภชนาการ โดยแสดงค่าพลังงาน (กิโลแคลอรี่) น้ำตาล (กรัม) ไขมัน (กรัม) และโซเดียม (มิลลิกรัม) มาแสดงที่ฉลากด้านหน้าบรรจุภัณฑ์ เพื่อให้ผู้บริโภคเห็นได้ชัดเจน และอ่านง่าย โดยบังคับให้อาหารสำเร็จรูปพร้อมทานต้องแสดงฉลากนี้ ซึ่งได้แก่
	 <br /><br><li>มันฝรั่งทอดหรืออบกรอบ</li></br>
	 <li>ข้าวโพดคั่วทอดหรืออบกรอบ</li>
	 <br /><li>ข้าวเกรียบหรืออาหารขบเคี้ยวชนิดอบพอง</li>
	 <br /><li>ขนมปังกรอบหรือแครกเกอร์หรือบิสกิต</li>
	 <br /><li>เวเฟอร์สอดไส้</li><br />
	 ซึ่งหากเราเป็นกลุ่มที่ระมัดระวังเรื่องโภชนาการ หรือขณะที่ควบคุมน้ำหนักอยู่  ก็ควรเลือกผลิตภัณฑ์ที่มีพลังงานน้อยๆ  หรือ หลีกเลี่ยงสารอาหารที่ไม่ต้องการบางอย่าง อย่างไขมัน น้ำตาล และโซเดี่ยม ซึ่งฉลากโภชนาการนี้จะทำให้สามารถเปรียบเทียบเพื่อเลือกซื้อผลิตภัณฑ์อาหารชนิดเดียวกันโดยเลือกยี่ห้อที่มีคุณค่าทางโภชนาการดีกว่าได้
</h3>
<br />
<div class="row">
	<center><img src="~/images/gda2.png" style="width:900px;"></center>
</div>
<br />
<h2 style="color:#FF4500;"><b>
	ฉลาก GDA อ่านอย่างไร </b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;รูปแบบของฉลากหวาน มัน เค็มจะเป็นเป็น 4 ส่วนหลักๆได้แก่ ส่วนที่ 1 จะบอกให้ทราบถึงคุณค่าทางโภชนาการ ได้แก่ พลังงานรวม ที่จะได้รับจากการบริโภคอาหารสำเร็จรูปปริมาณ 1 ซอง ส่วนที่ 2 บอกให้เราทราบถึงปริมาณที่เหมาะสมในการแบ่งรับประทาน เพื่อความเหมาะสมควรแบ่งรับประทานเป็นครั้งๆละเท่าๆกัน ส่วนที่ 3 บอกให้ทราบว่า เมื่อบริโภคทั้งซอง จะได้รับพลังงาน น้ำตาล ไขมัน โซเดียมปริมาณเท่าไร เช่น จะได้รับพลังงาน 1,120 กิโลแคลอรี น้ำตาล 7 กรัม ไขมัน 63 กรัม และโซเดียม 980 มิลลิกรัม ทั้งนี้ หากรับประทานไม่หมดซองจะได้รับ พลังงาน น้ำตาล ไขมัน โซเดียม น้อยลงตามลำดับ เช่น รับประทานครึ่งซองจะได้รับพลังงาน 560 กิโลแคลอรี่ เป็นต้น ส่วนที่ 4 และส่วนที่ 5 บอกให้ทราบว่าเมื่อรับประทานหมดทั้งซอง จะได้รับพลังงาน น้ำตาล ไขมัน โซเดียม คิดเป็นร้อยละเท่าไรของปริมาณสูงสุดที่แนะนำให้รับประทานต่อวัน โดยใน 1 วัน ( ซึ่งโดยส่วนใหญ่จะวางค่าไว้ที่ 2000 แคลอรี่ต่อวัน ) โดยควรจำกัดการบริโภคพลังงาน น้ำตาล ไขมัน โซเดียม ไม่ควรเกิน 100%
</h3>
<br />
<h2 style="color:#FF4500;"><b>
	สูตรคำนวนหาพลังงานที่ได้รับคิดเป็นเปอร์เซ็น</b>
</h2>
<br />
<div class="row">
	<center><img src="~/images/gda3.png" style="width:900px;"></center>
</div>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ทั้งนี้ ปริมาณสูงสุดที่แนะนำให้บริโภคใน 1 วัน ของสารอาหารที่แสดงแต่ละตัวมีดังนี้
	 <br /><br><li>มีพลังงานรวม เฉลี่ยไม่ควรเกิน 2,000 กิโลแคลอรี่</li></br>
	 <li>น้ำตาล ไม่ควรเกิน 65 กรัม</li>
	 <br /><li>ไขมันไม่ควรเกิน 65 กรัม</li>
	 <br /><li>โซเดียม ไม่ควรเกิน 2,300-2,400 มิลลิกรัม</li>
</h3>
<br />
<br />
<p style="color:#999999;"> เครดิตเนื้อหา: lovefitt, คู่มือรณรงค์ให้ความรู้เรื่องฉลากโภชนาการแบบจีดีเอ (GDA) ฉบับ อสม.และประชาชน , องการอาหารและยา (อย.) </p>	 
