﻿@page

@model Blog1Model
@{
}

<div class="row">
	<center><img src="~/images/slide01.png" style="width:1200px;"></center>
</div>

<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สิ่งสำคัญที่สุดที่ต้องคำนึงไว้เสมอ ในช่วงเวลาของการลดน้ำหนัก สร้างกล้ามเนื้อ หรือการสร้างสุขภาพที่ดี คือการใส่ใจในเรื่องอาหารและโภชนาการ ว่าสิ่งใดควรกินสิ่งใดไม่ควรกิน และกินอะไรในปริมาณเท่าไหร่ เพื่อให้เหมาะสมกับสภาพร่างกาย พลังงานที่ต้องการ และ บรรลุเป้าหมายที่วางไว้ คนส่วนใหญ่เมื่อได้ยินอย่างนี้มักถามย้อนกลับว่า “แล้วอะไรกินไม่ได้ ไม่ควรกินหล่ะ?” ก็ต้องตอบว่าอาหารทุกชนิดไม่มีอะไรไม่ควรกิน เพราะไม่ว่าอาหารจะดี หรือ อาหารจะอุดมไขมันมากแค่ไหนก็ควรทาน เพราะอาหารทุกอย่างมีประโยชน์แก่ร่างกายทั้งสิ้น เพียงแต่ต้องรู้จักประมาณการกินและรู้วิธีกำจัดมันออกไป
</h3>

<br />
<h2 style="color:#CC0066;"><b>
	Cheat Meal คืออะไร </b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในช่วงเวลาของการลดน้ำหนัก หรือ Diet เพื่อลดไขมันส่วนเกิน เป็นช่วงเวลาที่จะต้องจำกัดชนิดอาหารให้เป็นไปตามสารอาหารที่ร่างกายของแต่ละบุคคลต้องการ โดยต้องควบคุมสารอาหารต่างๆ ทั้ง โปรตีน คาร์โบไฮเดรต ไฟเบอร์ โซเดี่ยม ไขมัน ฯลฯ ให้อยู่ปริมาณที่กำหนดและเคร่งครัด จึงทำให้มีควาามจำเป็นต้องตัด ความสุขที่จะได้ทานของอร่อยที่ตัวเองชื่นชอบไป เพราะอาหารที่อร่อยถูกปาก มักมากับความอ้วนเสมอ และด้วยที่ตามหลักการ การ Diet มักกินระยะเวลาเป็นหลายๆเดือน หรืออย่างน้อยไม่ต่ำกว่า 2-3 เดือน การทำอาหารที่ไร้รสชาติปรุงอ่อนๆ แบบ Clean food อย่างไก่ต้ม ไข่ขาวเปล่าๆ ผักลวก ที่ทานเป็นเวลานานๆซ้ำๆ ทำผู้ที่ลดน้ำหนัก เกิดเความเครียด เมื่อสะสมความเครียดความอยากอาหารเป็นเวลานานอาจทำให้ ตะบะแตก เบรกแตกหลุดโค้งกลับมามาทานอาหารอ้วนๆแบบสิ้นสติ สุดท้ายต้องล้มเลิกไป หรือกลับมาอ้วนขึ้นกว่าเดิม นักโภชนาการและผู้มีความรู้หลายคนจึงแนะนำให้มี Cheat Meal, Reward Meal หรือ Free Meal ให้คนที่กำลัง Diet ได้ปล่อยตัวปล่อยใจคลายความเครียด และช่วยแก้ปัญหาความอยากอาหารนั้นเอง
</h3>
<br />
<div class="row">
	<center><img src="~/images/mc1.jpeg" style="width:900px;"></center>
</div>
<br />
<h2 style="color:#CC0066;"><b>
	ทำไมต้อง Cheat Meal </b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cheat Meal คือมื้ออาหารที่มีพลังงานสูงทั้งจากไขมันและข้าว-แป้ง-น้ำตาล รวมถึงปริมาณเครื่องปรุงรส เรียกได้ว่าเป็นอาหารมื้ออร่อยมื้อปรกติที่คนทั่วๆไปทานกัน โดยจุดประสงค์หลักของ Cheat Meal จริงๆ คือการลดความเครียดจากความอยากอาหารในช่วงของการ Diet และยังเป็นส่วนช่วยกระตุ้นการเผาผลาญพลังงานให้กับร่างกาย เนื่องจาก เวลาที่ร่ากาย Diet ต่อเนื่องเป็นเวลานานๆ จนเกิด Caloric Deficit ร่างกายจะเรียนรู้ที่จะเอาตัวรอดโดยการเผาผลาญพลังงานให้ต่ำลง เพื่อสอดคล้องกับระดับพลังงานที่ได้รับลดลง ด้วยสาเหตุนี้เพื่อป้องกันไม่ให้ร่างกายลดระดับการเผาผลาญลง เราจึงควรมีมื้อ Cheat Meal ที่ให้พลังงานสูงๆในทุกๆ 1-2 สัปดาห์ โดยดูจากปริมาณการใช้พลังงานและการออกกำลังกายเป็นหลัก และต้องมั่นใจว่าตลอดสัปดาห์จะต้องไม่หลุดไม่เผลอใจโกงไปก่อนที่วัน Cheat Meal จะมา
</h3>
<br />
<h2 style="color:#CC0066;"><b>
	มื้อเดียวพอไหม </b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; สำหรับคนลดน้ำหนัก และ Diet ส่วนมากจะมุ่งเน้นที่การสลายไขมันมันเป็นหลัก และเพื่อป้องการสะสามไขมันใหม่มากจนเกินไป จะแนะนำให้มี Cheat Meal แค่ 1 มื้อ ในทุกๆ 1-2 สัปดาห์ หรือ มากที่สุดไม่เกิน 1-2 มื้อต่อสัปดาห์ และไม่แนะให้จัด Cheat day เพราะอาจทำให้ได้รับพลังงานมากเกินความจำเป็น ต้องพยายามควบคุมปริมาณไม่ให้เยอะจนเกินไป ไม่ควรทานบุฟเฟ่แบบจัดหนักทุกครั้งที่ Cheat ควรเลือกอาหารที่เป็นกับข้าว หรืออาหารคาว จะดีกว่าเค้ก ของหวานๆมัน และเบเกอร์รี่ เพราะอาหารพวกนี้จะมีไขมันที่ไม่จำเป็นสูง อาจทำให้ระยะเวลาของการการ Diet ถูกยืดออกไป ได้ผลล้าช้า เพราะอาจต้องใช้เวลา 2-3 วันหลังจาก Cheat ไปแล้ว เอาไขมันส่วนเกินส่วนนี้ออก
</h3>
<br />
<h2 style="color:#CC0066;"><b>
	จำเป็นต้องโกงมื้ออาหารไหม </b>
</h2>
<br />
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ความจำเป็นของ Cheat Meal ขึ้นอยู่กับสภาพร่างกายของแต่ละคน บางคนที่จริงจังกับการ Diet มากๆ เช่นในกลุ่มนักกีฬาเพาะกาย ที่เก็บตัวก่อนแข่งขันจะมี Cheat Meal น้อยมาก และ Cheat Meal จะต้องไม่เพิ่มปริมาณไขมันเลวส่วนเกินมากจนเกินไป สำหรับบุคคลทั่วไปถ้าถามว่าจะไม่มี Cheat Meal ได้ไหม ตอบว่าได้ แต่ก็ต้องพยายามสังเกตุดูปฏิกิริยาของร่างกาย(แบบไม่เข้าข้างตัวเอง)ว่า มีแรงออกกำลังกายได้เท่าเดิม พละกำลังตกหรือไม่ ปวดหัว มึนหัว หรือ ไม่มีแรงหรือเปล่า เพราะถ้าไม่มีแรงจะทำกิจกรรมต่างๆได้ตามปรกติก็ถือว่าคุณทานอาหารน้อยเกินไป และอาจทำลายสุขภาพตัวเองทางอ้อมได้
</h3>
<br />
<h2 style="color:#CC0066;"><b>
	โกงการกินอย่างมีศิลปะ </b>
</h2>
<h3 style = "font-family:THSarabun;" style="color:#514644;">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;จริงอยู่ที่มื้อโกงมื้อเดียวไม่ทำลายแผนการลดน้ำหนักของคุณมากนัก แต่ก็อาจสร้างนิสัยการกินแบบสติแตกฉุดไม่อยู่แบบไม่รู้สึกผิดได้ เราจึงควรยึดไว้เสมอว่าถึงจะเป็น Cheat Meal ก็ต้องมีสติไม่ทานของที่อ้วนมากจนเกินไป และต้องไม่ติดนิสัยขี้โกง ทำบ่อยๆ พยายามควบคุมอาหารมื้อปรกติให้อยู่ในแผนอย่างเคร่งครัด หรือ ลองวางแผนมื้อ Cheat ให้อยู่ก่อนวันออกกำลังกายที่จะต้องใช้พลังงานสูงๆ เช่น กิน 1 วันก่อนวันคาร์ดิโอยาวๆ หรือ 1 ก่อนวันเล่นขา ก็จะช่วยให้สามารถกำจัดส่วนเกินที่มาจาก Cheat Meal ได้เร็วขึ้น และไม่ทำให้มื้อโกงนี้ทำลายแผนการ Diet ของคุณ
</h3>
<br />
<br />
<p style="color:#999999;"> เครดิตเนื้อหา: lovefitt, acaloriecounter.com, earlytorise.com, FitFactFun</p>

