﻿@page
@model HealthyBMI.Models.Blog
@{
    ViewData["Title"] = "Bmi";
}
<body>
	
	<center>
		<h2 style="color:#FF6666"><br /> <b>มาคำนวณ bmi ของคุณกันเถอะ</b></h2>
		<div class="row">
		<img src="~/images/run.gif" style="width:400px;">
		</div>
		
		<form action="/PlaceBmi" method="post">
		@Html.AntiForgeryToken()
		<form style="color:#3399CC">
			<div class="row" style ="width:400px;">
		
				
					<div class="form-group" style="color:#3399CC">
						<label for="weight"> Weight </label>
						<input class="form-control" type="text" name="weight" style ="text-align:center;" />
					
					</div>
				
					<div class="form-group" style="color:#3399CC">
						<label for="height"> Height </label>
						<input class="form-control" type="text" name="height" style ="text-align:center;"/>
					</div>	
				
					<input type="Submit" class="btn btn-info" value="คำนวณ">
				
			</div>
		</form>
		
		</form>
		<br />	
		<table style="width:50%" border="1" align="center">
		
		<tr align="center">
		<td colspan="2" bgcolor="#FFCCCC">ค่า BMI</td>
		<td colspan="2" bgcolor="#99CCFF">ภาวะน้ำหนักตัว</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2" >น้อยกว่า 18.5</td>
		<td colspan="2">น้ำหนักต่ำกว่าเกณฑ์</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">18.5-22.9</td>
		<td colspan="2">สมส่วน</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">23.0-24.9</td>
		<td colspan="2">น้ำหนักเกิน</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">25.0-29.9</td>
		<td colspan="2">โรคอ้วน</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">มากกว่า 30 .0</td>
		<td colspan="2">โรคอ้วนอันตราย</td>
		</tr>
		</table>
	</center>
	
</body>
</html>
