﻿@page
@model ChatModel
@{
    ViewData["Title"] = "chat";
}
<center><h1 style="color:#A0522D"><br /> <b>Community</b></h1>
<div class="row">
		<img src="~/images/talk.gif" style="width:600px;">
		</div>
	</center>
<div class="col-2">
 <div class="panel panel-primary" style="margin:50px;" > 
    <div class="panel-heading" style="background-color:#CADBAD;"> 
		<h3 class="panel-title" style="color:#514644" align="center">[Chat Community] แชทแลกเปลี่ยนความรู้  เราจะสุขภาพดีไปด้วยกัน</h3> 
        </div> 
			<div class="panel-body" >
				<div class="col-md-4">
					<div class="form-group col-4">
						User<br /><input type="text" id="userInput" />
						<br /><br/>
						Message <br/>
						<textarea type="text" id="messageInput" ></textarea>
						<br/><br/>
				
						<input  type="button" id="sendButton" value="Send Message" />
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>	
</div>

    </div>
      <div class="row">
			<div class="col-6">&nbsp;</div>
          <div class="col-6">
           <center> <h3 id="messagesList" style="color:#336666"></h3></center>
          </div>
      </div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>