﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/slide01.svg"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
						อยากกินอาหารตามใจตัวเองแต่กำลังลดน้ำหนักอยู่ ต้องทำยังไงดีนะ
                    <a class="btn btn-default" href="Blog1">
							ดูบทความ
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/slide02.svg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
						ฉลากโภชนาการแบบ GDA อ่านง่ายได้ประโยชน์ แต่ว่าจะเช็คได้ด้วยวิธีไหนนะ
                    <a class="btn btn-default" href="Blog2">
							ดูบทความ
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/slide03.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
						กินเยอะไม่ใช่ว่าจะอ้วนเสมอไป ถ้ากินอย่างถูกต้องก็ผอมได้
                    <a class="btn btn-default" href="Blog3">
							ดูบทความ
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


