﻿@page
@model PlaceBmiModel
@{
}

<center>
		<h2 style="color:#FF6666"><br /> <b>มาคำนวณ bmi ของคุณกันเถอะ</b></h2>
		<div class="row">
		<img src="~/images/run.gif" style="width:400px;">
		</div>
		
		<form style="color:#3399CC">
		<div class="row" style ="width:400px;">
				
		
				<div class="form-group" >
					
				<h2> ค่า BMI ของคุณคือ  @Model.finalbmi</h2>
				
				</div>		
				<br/><br/>
				<h4> <a href="/Bmi">กดที่นี่เพื่อคำนวณอีกครั้ง</a></h4>
				
		</div>
			</form>
		<br />	
		<table style="width:50%" border="1" align="center">
		
		<tr align="center">
		<td colspan="2" bgcolor="#FFCCCC">ค่า BMI</td>
		<td colspan="2" bgcolor="#99CCFF">ภาวะน้ำหนักตัว</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2" >น้อยกว่า 18.5</td>
		<td colspan="2">น้ำหนักต่ำกว่าเกณฑ์</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">18.5-22.9</td>
		<td colspan="2">สมส่วน</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">23.0-24.9</td>
		<td colspan="2">น้ำหนักเกิน</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">25.0-29.9</td>
		<td colspan="2">โรคอ้วน</td>
		</tr>
		<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">มากกว่า 30 .0</td>
		<td colspan="2">โรคอ้วนอันตราย</td>
		</tr>
		</table>
	</center>